.login-wrapper {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;   /* full viewport height */
  width: 100vw;    /* full viewport width */
  background: linear-gradient(to right, #667eea, #764ba2);
}



.card {
  border-radius: 15px;
  background-color: #ffffff;
}

.card-title {
  color: #333;
}


.form-control:focus, .form-select:focus {
  border-color: #667eea;
  box-shadow: 0 0 0 0.2rem rgba(102, 126, 234, 0.25);
}

.form-group{
  margin-bottom: 20px;
}
.login-btn{
  display: block;
  max-width: 80px;
  margin: 20px auto;
}

.btn-primary:hover {
  background-color: #5563c1;
}
