
.register-wrapper {
 display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;   /* full viewport height */
  width: 100vw;    /* full viewport width */
  background: url("../assets/admin_image1.jpg") no-repeat center center/cover;
}


.card {
  border-radius: 15px;
  background-color: #ffffff;
}

.card-title {
  color: #333;
}


.form-control:focus, .form-select:focus {
  border-color: #667eea;
  box-shadow: 0 0 0 0.2rem rgba(102, 126, 234, 0.25);
}


.btn-primary:hover {
  background-color: #5563c1;
}

.register-btn{
  display: block;
  max-width: 100px;
  margin: 20px auto;
  background-color: #4f46e5
}